html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: georgia, "times new roman", times, serif;
    letter-spacing: 0.025em;
    background-color: #f6f9f9;
}

footer {
    height: 50px;
    margin-top: 50px;
    line-height: 50px;
    text-align: center;
}

.pagination-bar {
    margin-top: 20px;
}

.list-group-item {
    cursor: pointer;
}