html {
    height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: georgia,"times new roman",times,serif;
  letter-spacing: 0.025em;
  background-color: #f6f9f9;
}

/*a {*/
  /*color: inherit;*/
  /*text-decoration: none;*/
/*}*/

/*button {*/
  /*cursor: pointer;*/
/*}*/

/*mark {*/
  /*background-color: inherit;*/
  /*color: inherit;*/
/*}*/

/*p {*/
  /*margin: 0;*/
/*}*/

/*ul {*/
  /*padding: 0;*/
  /*margin: 0;*/
/*}*/

/*li {*/
  /*list-style-type: none;*/
/*}*/

/*header {*/
  /*height: 50px;*/
  /*background-color: #007ac3;*/
  /*color: white;*/
  /*line-height: 50px;*/
/*}*/

/*header nav {*/
  /*width: 80%;*/
  /*margin: auto;*/
  /*padding-right: 0;*/
/*}*/

/*header nav ul {*/
  /*float: right;*/
/*}*/

/*header li {*/
  /*display: block;*/
  /*float: left;*/
  /*font-weight: 400;*/
/*}*/

/*.container {*/
  /*padding: 0 30px;*/
/*}*/

/*.add {*/
  /*display: inline-block;*/
  /*color: #2a6988;*/
  /*margin: 20px 0;*/
/*}*/

/*.btn-cancel {*/
  /*float: right;*/
  /*margin: 0 10px;*/
/*}*/

/*.add-form {*/
  /*width: 90%;*/
  /*margin: 30px auto;*/
/*}*/

/*.add-form label {*/
  /*display: block;*/
  /*padding: 10px 0;*/
/*}*/

/*.add-form input {*/
  /*display: block;*/
  /*width: 100%;*/
  /*margin-bottom: 10px;*/
  /*padding: 10px 10px;*/
  /*box-sizing: border-box;*/
/*}*/

/*textarea {*/
  /*width: 100%;*/
  /*padding: 10px;*/
  /*box-sizing: border-box;*/
/*}*/

/*.form-manage {*/
  /*margin: 20px 0;*/
/*}*/

/*.btn {*/
  /*display: inline-block;*/
  /*padding: 15px 15px; */
  /*margin-bottom: 0;*/
  /*font-size: 14px;*/
  /*color: black;*/
  /*border: none;*/
  /*background-color: inherit;*/
/*}*/

/*.btn-blue {*/
  /*color: white;*/
  /*background-color: #007ac3;*/
/*}*/

/*.btn-default {*/
  /*color: #777777;*/
  /*background-color: #bfbfbf;*/
/*}*/

/*.clear-fix::after {*/
  /*content: '';*/
  /*display: block;*/
  /*clear: both;*/
/*}*/

/*footer {*/
  /*height: 50px;*/
  /*margin-top: 50px;*/
  /*line-height: 50px;*/
  /*text-align: center;*/
  /*background-color: #F6F6F6;*/
/*}*/

/*!* Pagination *!*/
/*.pagination-bar {*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*margin: 20px 0;*/
    /*height: 50px;*/
/*}*/

/*.pagination {*/
    /*text-align: center;*/
    /*color: #15a3f9;*/
/*}*/

/*.pagination li {*/
    /*display: inline-block;*/
    /*overflow: hidden;*/
    /*text-align: center;*/
    /*width: 35px;*/
    /*height: 35px;*/
    /*line-height: 35px;*/
/*}*/

/*.pagination li a {*/
    /*display: block;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*border-radius: 50%;*/
/*}*/

/*.pagination li:nth-child(2n) {*/
    /*border-left: none;*/
    /*border-right: none;*/
/*}*/

/*.pagination li:first-child {*/
    /*border-top-left-radius: 5px;*/
    /*border-bottom-left-radius: 5px;*/
/*}*/

/*.pagination li:last-child {*/
    /*border-top-right-radius: 5px;*/
    /*border-bottom-right-radius: 5px;*/
/*}*/

/*.active {*/
    /*background-color: #337ab7;*/
    /*color: white !important;*/
/*}*/

/*.disabled {*/
  /*cursor: initial;*/
  /*color: #666666;*/
/*}*/

/*section {*/
  /*margin: 50px 0;*/
/*}*/

/*.news {*/
  /*width: 80%;*/
  /*margin: 20px auto;*/
  /*padding: 10px 10px;*/
  /*border: 1px solid #bfbfbf;*/
  /*box-sizing: border-box;*/
  /*overflow: hidden;*/
  /*background-color: white;*/
/*}*/

/*.news a {*/
  /*color: #2d3950;*/
/*}*/

/*.news:hover {*/
  /*border-bottom: 1px solid #49ade9; */
/*}*/

/*.news-view {*/
  /*width: 80%;*/
  /*margin: auto;*/
/*}*/

/*.news-title {*/
  /*padding: 20px 0;*/
/*}*/

/*.news-text {*/
  /*line-height: 25px;*/
/*}*/

/*.new-comment {*/
  /*width: 80%;*/
  /*margin: auto;*/
/*}*/

/*#add {*/
  /*float: right;*/
/*}*/

/*.comment {*/
  /*width: 80%;*/
  /*margin: 20px auto;*/
  /*padding: 30px 10px;*/
  /*box-sizing: border-box;*/
  /*background-color: white;*/
  /*color: #777777;*/
/*}*/

/*.edit-bar {*/
  /*width: 80%;*/
  /*margin: auto;*/
  /*color: #2a6988;*/
/*}*/

/*.edit-link {*/
  /*display: block;*/
  /*float: right;*/
/*}*/

/*.error {*/
  /*border-color: red;*/
/*}*/